<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <!-- Custom CSS  -->
    <link rel= "stylesheet" type= "text/css" href= {% block custom_css %}{% endblock %}>

    <!-- Favicon (docai)  -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Icons  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- IMPORTANT! JQUERY YA INCLUYE AJAX TIO...  -->

    <!--Boostrap 4-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="jumbotron text-center">
        <h1 class="display-4">{% block jumbotron_title %}{% endblock %}</h1>
        <p class="lead">{% block jumbotron_description %}{% endblock %}</p>
      </div>
    {% block body %}{% endblock %}

    <!-- Footer -->
    <footer class="text-center text-lg-start text-muted">
        <!-- Section: Who am I-->
        <section style="background:#489EFA" class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          <!-- Left -->
          <div class="me-5 d-none d-lg-block text-light">
            <span>Made by Andoni Aguirre Aranguren</span>
          </div>
          <!-- Left -->
  
          <!-- Right -->
          <div>
            <a href="https://www.linkedin.com/in/aaguirrearanguren" target="_blank" rel="noopener noreferrer" class="me-4 text-reset">
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
            <a href="https://github.com/aagirre92" target="_blank" rel="noopener noreferrer" class="me-4 text-reset">
              <i class="fab fa-github fa-2x"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
  
  
  
      </footer>
      <!-- Footer -->
</body>
</html>
{% block script %}{% endblock %}