
form{
    padding: 20px;
}

#response{
    padding: 20px;
}

#response ul{
    padding-bottom: 20px;
}

#response ul li{
    font-weight: bold;
}

table > tbody > tr > td:first-child{
    font-weight: bold;
}